/* page styles */
body {
  background-color: rgb(0, 51, 102);
  overflow: hidden;
}

/* page nav-bar styles */
#nav-bar.nyan {
  background-color: rgb(0, 51, 102);
}

#nav-bar.nyan #nav ul {
  justify-content: flex-start;
}

#nav-bar.nyan #nav a {
  color: rgb(100, 150, 200);
}

#nav-bar.nyan #nav a:hover {
  color: rgb(235, 235, 235);
}

/* nyancat styles */
.cat,
.poptart,
.head,
.feet,
.tail,
.rainbow,
.sprite,
.stars li,
.stars li i {
  position: absolute;
  animation-timing-function: linear;
  animation-timing-function: step-end;
  background-repeat: no-repeat;
  animation-iteration-count: infinite;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* cat styles */
.cat {
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  animation-name: catCycle;
  animation-duration: 0.5s;
}

@keyframes catCycle {
  0%,
  100% {
    margin-top: -100px;
  }

  33.3% {
    margin-top: -90px;
  }
}

/* poptart styles */
.poptart {
  top: 0;
  left: 0;
  width: 210px;
  height: 180px;
  background-image:
    /* sprinkles styles */
    linear-gradient(to right, rgb(255, 51, 153) 0%, rgb(255, 51, 153) 100%),
    linear-gradient(to right, rgb(255, 51, 153) 0%, rgb(255, 51, 153) 100%),
    linear-gradient(to right, rgb(255, 51, 153) 0%, rgb(255, 51, 153) 100%),
    linear-gradient(to right, rgb(255, 51, 153) 0%, rgb(255, 51, 153) 100%),
    linear-gradient(to right, rgb(255, 51, 153) 0%, rgb(255, 51, 153) 100%),
    linear-gradient(to right, rgb(255, 51, 153) 0%, rgb(255, 51, 153) 100%),
    linear-gradient(to right, rgb(255, 51, 153) 0%, rgb(255, 51, 153) 100%),
    linear-gradient(to right, rgb(255, 51, 153) 0%, rgb(255, 51, 153) 100%),
    linear-gradient(to right, rgb(255, 51, 153) 0%, rgb(255, 51, 153) 100%),
    linear-gradient(to right, rgb(255, 51, 153) 0%, rgb(255, 51, 153) 100%),
    linear-gradient(to right, rgb(255, 51, 153) 0%, rgb(255, 51, 153) 100%),
    /* icing styles */
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 9.52381%,
      rgb(255, 153, 255) 9.52381%,
      rgb(255, 153, 255) 90.47619%,
      rgba(0, 0, 0, 0) 90.47619%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 14.28571%,
      rgb(255, 153, 255) 14.28571%,
      rgb(255, 153, 255) 85.71429%,
      rgba(0, 0, 0, 0) 85.71429%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 19.04762%,
      rgb(255, 153, 255) 19.04762%,
      rgb(255, 153, 255) 80.95238%,
      rgba(0, 0, 0, 0) 80.95238%,
      rgba(0, 0, 0, 0) 100%
    ),
    /* icing styles end */
    /* pastry styles */
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 4.7619%,
      rgb(255, 204, 153) 4.7619%,
      rgb(255, 204, 153) 95.2381%,
      rgb(0, 0, 0) 95.2381%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 4.7619%,
      rgb(0, 0, 0) 4.7619%,
      rgb(0, 0, 0) 9.52381%,
      rgb(255, 204, 153) 9.52381%,
      rgb(255, 204, 153) 90.47619%,
      rgb(0, 0, 0) 90.47619%,
      rgb(0, 0, 0) 95.2381%,
      rgba(0, 0, 0, 0) 90.47619%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 9.52381%,
      rgb(0, 0, 0) 9.52381%,
      rgb(0, 0, 0) 90.47619%,
      rgba(0, 0, 0, 0) 90.47619%,
      rgba(0, 0, 0, 0) 100%
    );
  background-position:
    90px 30px,
    120px 30px,
    40px 40px,
    160px 50px,
    80px 70px,
    50px 90px,
    90px 100px,
    30px 110px,
    70px 130px,
    40px 140px,
    110px 140px,
    0 40px,
    0 30px,
    0 20px,
    0 20px,
    0 10px,
    0 0;
  background-size:
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    100% 100px,
    100% 120px,
    100% 140px,
    100% 140px,
    100% 160px,
    100% 100%;
}

/* head styles */
.head {
  top: 50px;
  left: 100px;
  width: 160px;
  height: 130px;
  animation-name: headCycle;
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 12.5%,
      rgb(0, 0, 0) 12.5%,
      rgb(0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 75%,
      rgb(0, 0, 0) 75%,
      rgb(0, 0, 0) 87.5%,
      rgba(0, 0, 0, 0) 87.5%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 6.25%,
      rgb(0, 0, 0) 6.25%,
      rgb(0, 0, 0) 12.5%,
      rgb(153, 153, 153) 12.5%,
      rgb(153, 153, 153) 25%,
      rgb(0, 0, 0) 25%,
      rgb(0, 0, 0) 31.25%,
      rgba(0, 0, 0, 0) 31.25%,
      rgba(0, 0, 0, 0) 68.75%,
      rgb(0, 0, 0) 68.75%,
      rgb(0, 0, 0) 75%,
      rgb(153, 153, 153) 75%,
      rgb(153, 153, 153) 87.5%,
      rgb(0, 0, 0) 87.5%,
      rgb(0, 0, 0) 93.75%,
      rgba(0, 0, 0, 0) 93.75%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 6.25%,
      rgb(0, 0, 0) 6.25%,
      rgb(0, 0, 0) 12.5%,
      rgb(153, 153, 153) 12.5%,
      rgb(153, 153, 153) 31.25%,
      rgb(0, 0, 0) 31.25%,
      rgb(0, 0, 0) 37.5%,
      rgba(0, 0, 0, 0) 37.5%,
      rgba(0, 0, 0, 0) 62.5%,
      rgb(0, 0, 0) 62.5%,
      rgb(0, 0, 0) 68.75%,
      rgb(153, 153, 153) 68.75%,
      rgb(153, 153, 153) 87.5%,
      rgb(0, 0, 0) 87.5%,
      rgb(0, 0, 0) 93.75%,
      rgba(0, 0, 0, 0) 93.75%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 6.25%,
      rgb(0, 0, 0) 6.25%,
      rgb(0, 0, 0) 12.5%,
      rgb(153, 153, 153) 12.5%,
      rgb(153, 153, 153) 37.5%,
      rgb(0, 0, 0) 37.5%,
      rgb(0, 0, 0) 62.5%,
      rgb(153, 153, 153) 62.5%,
      rgb(153, 153, 153) 87.5%,
      rgb(0, 0, 0) 87.5%,
      rgb(0, 0, 0) 93.75%,
      rgba(0, 0, 0, 0) 93.75%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 6.25%,
      rgb(0, 0, 0) 6.25%,
      rgb(0, 0, 0) 12.5%,
      rgb(153, 153, 153) 12.5%,
      rgb(153, 153, 153) 87.5%,
      rgb(0, 0, 0) 87.5%,
      rgb(0, 0, 0) 93.75%,
      rgba(0, 0, 0, 0) 93.75%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 6.25%,
      rgb(153, 153, 153) 6.25%,
      rgb(153, 153, 153) 93.75%,
      rgb(0, 0, 0) 93.75%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 6.25%,
      rgb(153, 153, 153) 6.25%,
      rgb(153, 153, 153) 25%,
      rgb(255, 255, 255) 25%,
      rgb(255, 255, 255) 31.25%,
      rgb(0, 0, 0) 31.25%,
      rgb(0, 0, 0) 37.5%,
      rgb(153, 153, 153) 37.5%,
      rgb(153, 153, 153) 68.75%,
      rgb(255, 255, 255) 68.75%,
      rgb(255, 255, 255) 75%,
      rgb(0, 0, 0) 75%,
      rgb(0, 0, 0) 81.25%,
      rgb(153, 153, 153) 81.25%,
      rgb(153, 153, 153) 93.75%,
      rgb(0, 0, 0) 93.75%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 6.25%,
      rgb(153, 153, 153) 6.25%,
      rgb(153, 153, 153) 25%,
      rgb(0, 0, 0) 25%,
      rgb(0, 0, 0) 37.5%,
      rgb(153, 153, 153) 37.5%,
      rgb(153, 153, 153) 56.25%,
      rgb(0, 0, 0) 56.25%,
      rgb(0, 0, 0) 62.5%,
      rgb(153, 153, 153) 62.5%,
      rgb(153, 153, 153) 68.75%,
      rgb(0, 0, 0) 68.75%,
      rgb(0, 0, 0) 81.25%,
      rgb(153, 153, 153) 81.25%,
      rgb(153, 153, 153) 93.75%,
      rgb(0, 0, 0) 93.75%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 6.25%,
      rgb(153, 153, 153) 6.25%,
      rgb(153, 153, 153) 12.5%,
      rgb(255, 153, 153) 12.5%,
      rgb(255, 153, 153) 25%,
      rgb(153, 153, 153) 25%,
      rgb(153, 153, 153) 81.25%,
      rgb(255, 153, 153) 81.25%,
      rgb(255, 153, 153) 93.75%,
      rgb(0, 0, 0) 93.75%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 6.25%,
      rgb(153, 153, 153) 6.25%,
      rgb(153, 153, 153) 12.5%,
      rgb(255, 153, 153) 12.5%,
      rgb(255, 153, 153) 25%,
      rgb(153, 153, 153) 25%,
      rgb(153, 153, 153) 31.25%,
      rgb(0, 0, 0) 31.25%,
      rgb(0, 0, 0) 37.5%,
      rgb(153, 153, 153) 37.5%,
      rgb(153, 153, 153) 50%,
      rgb(0, 0, 0) 50%,
      rgb(0, 0, 0) 56.25%,
      rgb(153, 153, 153) 56.25%,
      rgb(153, 153, 153) 68.75%,
      rgb(0, 0, 0) 68.75%,
      rgb(0, 0, 0) 75%,
      rgb(153, 153, 153) 75%,
      rgb(153, 153, 153) 81.25%,
      rgb(255, 153, 153) 81.25%,
      rgb(255, 153, 153) 93.75%,
      rgb(0, 0, 0) 93.75%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 6.25%,
      rgb(0, 0, 0) 6.25%,
      rgb(0, 0, 0) 12.5%,
      rgb(153, 153, 153) 12.5%,
      rgb(153, 153, 153) 31.25%,
      rgb(0, 0, 0) 31.25%,
      rgb(0, 0, 0) 75%,
      rgb(153, 153, 153) 75%,
      rgb(153, 153, 153) 87.5%,
      rgb(0, 0, 0) 87.5%,
      rgb(0, 0, 0) 93.75%,
      rgba(0, 0, 0, 0) 93.75%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 12.5%,
      rgb(0, 0, 0) 12.5%,
      rgb(0, 0, 0) 18.75%,
      rgb(153, 153, 153) 18.75%,
      rgb(153, 153, 153) 81.25%,
      rgb(0, 0, 0) 81.25%,
      rgb(0, 0, 0) 87.5%,
      rgba(0, 0, 0, 0) 87.5%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 18.75%,
      rgb(0, 0, 0) 18.75%,
      rgb(0, 0, 0) 81.25%,
      rgba(0, 0, 0, 0) 81.25%,
      rgba(0, 0, 0, 0) 100%
    );
  background-repeat: no-repeat;
  background-position:
    0 0,
    0 10px,
    0 20px,
    0 30px,
    0 40px,
    0 50px,
    0 60px,
    0 70px,
    0 80px,
    0 90px,
    0 100px,
    0 110px,
    0 120px;
  background-size: 100% 10px;
  animation-duration: 0.5s;
}

@keyframes headCycle {
  0%,
  100% {
    margin-top: 0;
    margin-left: 0;
  }

  16.7% {
    margin-top: 0;
    margin-left: 10px;
  }

  66.7% {
    margin-top: 0;
    margin-left: 0;
  }

  83.3% {
    margin-top: -10px;
    margin-left: 0;
  }
}

/* feet styles */
.feet {
  top: 150px;
  left: -20px;
  width: 240px;
  height: 50px;
  animation-name: feetCycle;
  overflow: hidden;
  animation-duration: 0.5s;
}

.feet .sprite {
  top: 0;
  width: 240px;
  height: 150px;
  animation-name: feetSpriteCycle;
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 8.33333%,
      rgb(0, 0, 0) 8.33333%,
      rgb(0, 0, 0) 16.66667%,
      rgb(153, 153, 153) 16.66667%,
      rgb(153, 153, 153) 20.83333%,
      rgba(0, 0, 0, 0) 20.83333%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 4.16667%,
      rgb(0, 0, 0) 4.16667%,
      rgb(0, 0, 0) 12.5%,
      rgb(153, 153, 153) 12.5%,
      rgb(153, 153, 153) 25%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 79.16667%,
      rgb(153, 153, 153) 79.16667%,
      rgb(153, 153, 153) 91.66667%,
      rgb(0, 0, 0) 91.66667%,
      rgb(0, 0, 0) 95.83333%,
      rgba(0, 0, 0, 0) 95.83333%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 4.16667%,
      rgb(153, 153, 153) 4.16667%,
      rgb(153, 153, 153) 16.66667%,
      rgb(0, 0, 0) 16.66667%,
      rgb(0, 0, 0) 25%,
      rgb(153, 153, 153) 25%,
      rgb(153, 153, 153) 41.66667%,
      rgb(0, 0, 0) 41.66667%,
      rgb(0, 0, 0) 45.83333%,
      rgba(0, 0, 0, 0) 45.83333%,
      rgba(0, 0, 0, 0) 58.33333%,
      rgb(0, 0, 0) 58.33333%,
      rgb(0, 0, 0) 62.5%,
      rgb(153, 153, 153) 62.5%,
      rgb(153, 153, 153) 75%,
      rgb(0, 0, 0) 75%,
      rgb(0, 0, 0) 83.33333%,
      rgb(153, 153, 153) 83.33333%,
      rgb(153, 153, 153) 95.83333%,
      rgb(0, 0, 0) 95.83333%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 4.16667%,
      rgb(153, 153, 153) 4.16667%,
      rgb(153, 153, 153) 12.5%,
      rgb(0, 0, 0) 12.5%,
      rgb(0, 0, 0) 20.83333%,
      rgba(0, 0, 0, 0) 20.83333%,
      rgba(0, 0, 0, 0) 25%,
      rgb(0, 0, 0) 25%,
      rgb(0, 0, 0) 29.16667%,
      rgb(153, 153, 153) 29.16667%,
      rgb(153, 153, 153) 37.5%,
      rgb(0, 0, 0) 37.5%,
      rgb(0, 0, 0) 41.66667%,
      rgba(0, 0, 0, 0) 41.66667%,
      rgba(0, 0, 0, 0) 62.5%,
      rgb(0, 0, 0) 62.5%,
      rgb(0, 0, 0) 66.66667%,
      rgb(153, 153, 153) 66.66667%,
      rgb(153, 153, 153) 75%,
      rgb(0, 0, 0) 75%,
      rgb(0, 0, 0) 79.16667%,
      rgba(0, 0, 0, 0) 79.16667%,
      rgba(0, 0, 0, 0) 83.33333%,
      rgb(0, 0, 0) 83.33333%,
      rgb(0, 0, 0) 87.5%,
      rgb(153, 153, 153) 87.5%,
      rgb(153, 153, 153) 95.83333%,
      rgb(0, 0, 0) 95.83333%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 16.66667%,
      rgba(0, 0, 0, 0) 16.66667%,
      rgba(0, 0, 0, 0) 25%,
      rgb(0, 0, 0) 25%,
      rgb(0, 0, 0) 37.5%,
      rgba(0, 0, 0, 0) 33.33333%,
      rgba(0, 0, 0, 0) 66.66667%,
      rgb(0, 0, 0) 66.66667%,
      rgb(0, 0, 0) 79.16667%,
      rgba(0, 0, 0, 0) 79.16667%,
      rgba(0, 0, 0, 0) 87.5%,
      rgb(0, 0, 0) 87.5%,
      rgb(0, 0, 0) 95.83333%,
      rgba(0, 0, 0, 0) 95.83333%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 8.33333%,
      rgb(0, 0, 0) 8.33333%,
      rgb(0, 0, 0) 16.66667%,
      rgb(153, 153, 153) 16.66667%,
      rgb(153, 153, 153) 20.83333%,
      rgba(0, 0, 0, 0) 20.83333%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 4.16667%,
      rgb(0, 0, 0) 4.16667%,
      rgb(0, 0, 0) 8.33333%,
      rgb(153, 153, 153) 8.33333%,
      rgb(153, 153, 153) 25%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 79.16667%,
      rgb(153, 153, 153) 79.16667%,
      rgb(153, 153, 153) 91.66667%,
      rgb(0, 0, 0) 91.66667%,
      rgb(0, 0, 0) 95.83333%,
      rgba(0, 0, 0, 0) 95.83333%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 4.16667%,
      rgb(153, 153, 153) 4.16667%,
      rgb(153, 153, 153) 16.66667%,
      rgb(0, 0, 0) 16.66667%,
      rgb(0, 0, 0) 25%,
      rgb(153, 153, 153) 25%,
      rgb(153, 153, 153) 37.5%,
      rgb(0, 0, 0) 37.5%,
      rgb(0, 0, 0) 41.66667%,
      rgba(0, 0, 0, 0) 41.66667%,
      rgba(0, 0, 0, 0) 58.33333%,
      rgb(0, 0, 0) 58.33333%,
      rgb(0, 0, 0) 62.5%,
      rgb(153, 153, 153) 62.5%,
      rgb(153, 153, 153) 75%,
      rgb(0, 0, 0) 75%,
      rgb(0, 0, 0) 83.33333%,
      rgb(153, 153, 153) 83.33333%,
      rgb(153, 153, 153) 95.83333%,
      rgb(0, 0, 0) 95.83333%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 4.16667%,
      rgb(153, 153, 153) 4.16667%,
      rgb(153, 153, 153) 12.5%,
      rgb(0, 0, 0) 12.5%,
      rgb(0, 0, 0) 16.66667%,
      rgba(0, 0, 0, 0) 16.66667%,
      rgba(0, 0, 0, 0) 20.83333%,
      rgb(0, 0, 0) 20.83333%,
      rgb(0, 0, 0) 25%,
      rgb(153, 153, 153) 25%,
      rgb(153, 153, 153) 33.33333%,
      rgb(0, 0, 0) 33.33333%,
      rgb(0, 0, 0) 37.5%,
      rgba(0, 0, 0, 0) 37.5%,
      rgba(0, 0, 0, 0) 62.5%,
      rgb(0, 0, 0) 62.5%,
      rgb(0, 0, 0) 66.66667%,
      rgb(153, 153, 153) 66.66667%,
      rgb(153, 153, 153) 75%,
      rgb(0, 0, 0) 75%,
      rgb(0, 0, 0) 79.16667%,
      rgba(0, 0, 0, 0) 79.16667%,
      rgba(0, 0, 0, 0) 83.33333%,
      rgb(0, 0, 0) 83.33333%,
      rgb(0, 0, 0) 87.5%,
      rgb(153, 153, 153) 87.5%,
      rgb(153, 153, 153) 95.83333%,
      rgb(0, 0, 0) 95.83333%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 12.5%,
      rgba(0, 0, 0, 0) 12.5%,
      rgba(0, 0, 0, 0) 25%,
      rgb(0, 0, 0) 25%,
      rgb(0, 0, 0) 37.5%,
      rgba(0, 0, 0, 0) 37.5%,
      rgba(0, 0, 0, 0) 66.66667%,
      rgb(0, 0, 0) 66.66667%,
      rgb(0, 0, 0) 79.16667%,
      rgba(0, 0, 0, 0) 79.16667%,
      rgba(0, 0, 0, 0) 87.5%,
      rgb(0, 0, 0) 87.5%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 8.33333%,
      rgb(0, 0, 0) 8.33333%,
      rgb(0, 0, 0) 16.66667%,
      rgb(153, 153, 153) 16.66667%,
      rgb(153, 153, 153) 20.83333%,
      rgba(0, 0, 0, 0) 20.83333%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 4.16667%,
      rgb(0, 0, 0) 4.16667%,
      rgb(0, 0, 0) 8.33333%,
      rgb(153, 153, 153) 8.33333%,
      rgb(153, 153, 153) 25%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 79.16667%,
      rgb(153, 153, 153) 79.16667%,
      rgb(153, 153, 153) 91.66667%,
      rgb(0, 0, 0) 91.66667%,
      rgb(0, 0, 0) 95.83333%,
      rgba(0, 0, 0, 0) 95.83333%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 4.16667%,
      rgb(153, 153, 153) 4.16667%,
      rgb(153, 153, 153) 16.66667%,
      rgb(0, 0, 0) 16.66667%,
      rgb(0, 0, 0) 25%,
      rgb(153, 153, 153) 25%,
      rgb(153, 153, 153) 37.5%,
      rgb(0, 0, 0) 37.5%,
      rgb(0, 0, 0) 41.66667%,
      rgba(0, 0, 0, 0) 41.66667%,
      rgba(0, 0, 0, 0) 58.33333%,
      rgb(0, 0, 0) 58.33333%,
      rgb(0, 0, 0) 62.5%,
      rgb(153, 153, 153) 62.5%,
      rgb(153, 153, 153) 75%,
      rgb(0, 0, 0) 75%,
      rgb(0, 0, 0) 83.33333%,
      rgb(153, 153, 153) 83.33333%,
      rgb(153, 153, 153) 95.83333%,
      rgb(0, 0, 0) 95.83333%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 4.16667%,
      rgb(153, 153, 153) 4.16667%,
      rgb(153, 153, 153) 12.5%,
      rgb(0, 0, 0) 12.5%,
      rgb(0, 0, 0) 16.66667%,
      rgba(0, 0, 0, 0) 16.66667%,
      rgba(0, 0, 0, 0) 20.83333%,
      rgb(0, 0, 0) 20.83333%,
      rgb(0, 0, 0) 25%,
      rgb(153, 153, 153) 25%,
      rgb(153, 153, 153) 33.33333%,
      rgb(0, 0, 0) 33.33333%,
      rgb(0, 0, 0) 37.5%,
      rgba(0, 0, 0, 0) 37.5%,
      rgba(0, 0, 0, 0) 62.5%,
      rgb(0, 0, 0) 62.5%,
      rgb(0, 0, 0) 66.66667%,
      rgb(153, 153, 153) 66.66667%,
      rgb(153, 153, 153) 75%,
      rgb(0, 0, 0) 75%,
      rgb(0, 0, 0) 79.16667%,
      rgba(0, 0, 0, 0) 79.16667%,
      rgba(0, 0, 0, 0) 83.33333%,
      rgb(0, 0, 0) 83.33333%,
      rgb(0, 0, 0) 87.5%,
      rgb(153, 153, 153) 87.5%,
      rgb(153, 153, 153) 95.83333%,
      rgb(0, 0, 0) 95.83333%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 12.5%,
      rgba(0, 0, 0, 0) 12.5%,
      rgba(0, 0, 0, 0) 20.83333%,
      rgb(0, 0, 0) 20.83333%,
      rgb(0, 0, 0) 33.33333%,
      rgba(0, 0, 0, 0) 33.33333%,
      rgba(0, 0, 0, 0) 62.5%,
      rgb(0, 0, 0) 62.5%,
      rgb(0, 0, 0) 75%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0) 87.5%,
      rgb(0, 0, 0) 87.5%,
      rgb(0, 0, 0) 100%
    );
  background-repeat: no-repeat;
  background-position:
    0 0,
    0 10px,
    0 20px,
    0 30px,
    0 40px,
    0 50px,
    0 60px,
    0 70px,
    0 80px,
    0 90px,
    0 100px,
    0 110px,
    0 120px,
    0 130px,
    0 140px;
  background-size: 100% 10px;
  animation-duration: 0.5s;
}

@keyframes feetCycle {
  0%,
  100% {
    margin-left: 0;
  }

  16.7% {
    margin-left: 10px;
  }

  33.3% {
    margin-left: 20px;
  }

  50% {
    margin-left: 10px;
  }

  66.7% {
    margin-left: -10px;
  }
}

@keyframes feetSpriteCycle {
  0%,
  100% {
    top: 0;
  }

  16.7% {
    top: -50px;
  }

  83.3% {
    top: -100px;
  }
}

/* tail styles */
.tail {
  top: 70px;
  left: -70px;
  width: 70px;
  height: 70px;
  animation-name: tailCycle;
  overflow: hidden;
  animation-duration: 0.5s;
}

.tail .sprite {
  width: 70px;
  height: 350px;
  animation-name: tailSpriteCycle;
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 71.42857%,
      rgba(0, 0, 0, 0) 71.42857%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 28.57143%,
      rgb(153, 153, 153) 28.57143%,
      rgb(153, 153, 153) 57.14286%,
      rgb(0, 0, 0) 57.14286%,
      rgb(0, 0, 0) 85.71429%,
      rgba(0, 0, 0, 0) 85.71429%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 42.85714%,
      rgb(153, 153, 153) 42.85714%,
      rgb(153, 153, 153) 71.42857%,
      rgb(0, 0, 0) 71.42857%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 28.57143%,
      rgb(0, 0, 0) 28.57143%,
      rgb(0, 0, 0) 57.14286%,
      rgb(153, 153, 153) 57.14286%,
      rgb(153, 153, 153) 85.71429%,
      rgb(0, 0, 0) 85.71429%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 42.85714%,
      rgb(0, 0, 0) 42.85714%,
      rgb(0, 0, 0) 71.42857%,
      rgb(153, 153, 153) 71.42857%,
      rgb(153, 153, 153) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 57.14286%,
      rgb(0, 0, 0) 57.14286%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 85.71429%,
      rgb(0, 0, 0) 85.71429%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 28.57143%,
      rgb(0, 0, 0) 28.57143%,
      rgb(0, 0, 0) 57.14286%,
      rgba(0, 0, 0, 0) 57.14286%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 28.57143%,
      rgb(153, 153, 153) 28.57143%,
      rgb(153, 153, 153) 57.14286%,
      rgb(0, 0, 0) 57.14286%,
      rgb(0, 0, 0) 71.42857%,
      rgba(0, 0, 0, 0) 71.42857%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 28.57143%,
      rgb(153, 153, 153) 28.57143%,
      rgb(153, 153, 153) 57.14286%,
      rgb(0, 0, 0) 57.14286%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 28.57143%,
      rgb(0, 0, 0) 28.57143%,
      rgb(0, 0, 0) 42.85714%,
      rgb(153, 153, 153) 42.85714%,
      rgb(153, 153, 153) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 42.85714%,
      rgb(0, 0, 0) 42.85714%,
      rgb(0, 0, 0) 71.42857%,
      rgb(153, 153, 153) 71.42857%,
      rgb(153, 153, 153) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 71.42857%,
      rgb(0, 0, 0) 71.42857%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 85.71429%,
      rgb(0, 0, 0) 85.71429%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 42.85714%,
      rgb(0, 0, 0) 42.85714%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 42.85714%,
      rgb(153, 153, 153) 42.85714%,
      rgb(153, 153, 153) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 28.57143%,
      rgb(153, 153, 153) 28.57143%,
      rgb(153, 153, 153) 71.42857%,
      rgb(0, 0, 0) 71.42857%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 28.57143%,
      rgb(0, 0, 0) 28.57143%,
      rgb(0, 0, 0) 85.71429%,
      rgba(0, 0, 0, 0) 85.71429%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 71.42857%,
      rgb(0, 0, 0) 71.42857%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 42.85714%,
      rgb(0, 0, 0) 42.85714%,
      rgb(0, 0, 0) 71.42857%,
      rgb(153, 153, 153) 71.42857%,
      rgb(153, 153, 153) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 28.57143%,
      rgb(0, 0, 0) 28.57143%,
      rgb(0, 0, 0) 42.85714%,
      rgb(153, 153, 153) 42.85714%,
      rgb(153, 153, 153) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 28.57143%,
      rgb(153, 153, 153) 28.57143%,
      rgb(153, 153, 153) 57.14286%,
      rgb(0, 0, 0) 57.14286%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 28.57143%,
      rgb(153, 153, 153) 28.57143%,
      rgb(153, 153, 153) 57.14286%,
      rgb(0, 0, 0) 57.14286%,
      rgb(0, 0, 0) 71.42857%,
      rgba(0, 0, 0, 0) 71.42857%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 28.57143%,
      rgb(0, 0, 0) 28.57143%,
      rgb(0, 0, 0) 57.14286%,
      rgba(0, 0, 0, 0) 57.14286%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 14.28571%,
      rgb(0, 0, 0) 71.42857%,
      rgba(0, 0, 0, 0) 71.42857%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 14.28571%,
      rgb(153, 153, 153) 14.28571%,
      rgb(153, 153, 153) 57.14286%,
      rgb(0, 0, 0) 57.14286%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 28.57143%,
      rgb(153, 153, 153) 28.57143%,
      rgb(153, 153, 153) 85.71429%,
      rgb(0, 0, 0) 85.71429%,
      rgb(0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 28.57143%,
      rgb(0, 0, 0) 28.57143%,
      rgb(0, 0, 0) 85.71429%,
      rgb(153, 153, 153) 85.71429%,
      rgb(153, 153, 153) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 71.42857%,
      rgb(0, 0, 0) 71.42857%,
      rgb(0, 0, 0) 100%
    );
  background-repeat: no-repeat;
  background-position:
    0 0,
    0 10px,
    0 20px,
    0 30px,
    0 40px,
    0 50px,
    0 60px,
    0 70px,
    0 80px,
    0 90px,
    0 100px,
    0 110px,
    0 120px,
    0 130px,
    0 140px,
    0 150px,
    0 160px,
    0 170px,
    0 180px,
    0 190px,
    0 200px,
    0 210px,
    0 220px,
    0 230px,
    0 240px,
    0 250px,
    0 260px,
    0 270px,
    0 280px,
    0 290px,
    0 300px,
    0 310px,
    0 320px,
    0 330px,
    0 340px;
  background-size: 100% 10px;
  animation-duration: 0.5s;
}

@keyframes tailCycle {
  0%,
  100% {
    margin-top: 0;
  }

  33.3% {
    margin-top: 10px;
  }

  50% {
    margin-top: 20px;
  }

  66.7% {
    margin-top: -10px;
  }
}

@keyframes tailSpriteCycle {
  0%,
  83.3% {
    margin-top: 0;
  }

  16.7% {
    margin-top: -70px;
  }

  33.3% {
    margin-top: -140px;
  }

  50% {
    margin-top: -210px;
  }

  66.7% {
    margin-top: -280px;
  }
}

/* rainbow styles */
.rainbow {
  top: 50%;
  right: 50%;
  left: 0;
  height: 190px;
  margin-top: -90px;
  overflow: hidden;
}

.rainbow .sprite {
  top: 0;
  right: 80px;
  bottom: 0;
  left: 0;
  animation-name: rainbowCycle;
  background-image:
    /* red band */
    linear-gradient(
      to right,
      rgb(255, 0, 0) 0%,
      rgb(255, 0, 0) 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgb(255, 0, 0) 50%,
      rgb(255, 0, 0) 100%
    ),
    /* orange band */
    linear-gradient(
      to right,
      rgb(255, 153, 0) 0%,
      rgb(255, 153, 0) 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgb(255, 153, 0) 50%,
      rgb(255, 153, 0) 100%
    ),
    /* yellow band */
    linear-gradient(
      to right,
      rgb(255, 255, 0) 0%,
      rgb(255, 255, 0) 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgb(255, 255, 0) 50%,
      rgb(255, 255, 0) 100%
    ),
    /* yellow band end */
    /* green band */
    linear-gradient(
      to right,
      rgb(51, 255, 0) 0%,
      rgb(51, 255, 0) 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgb(51, 255, 0) 50%,
      rgb(51, 255, 0) 100%
    ),
    /* blue band */
    linear-gradient(
      to right,
      rgb(0, 153, 255) 0%,
      rgb(0, 153, 255) 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgb(0, 153, 255) 50%,
      rgb(0, 153, 255) 100%
    ),
    /* purple band */
    linear-gradient(
      to right,
      rgb(102, 51, 255) 0%,
      rgb(102, 51, 255) 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgb(102, 51, 255) 50%,
      rgb(102, 51, 255) 100%
    );
  background-repeat: repeat-x;
  background-position:
    0 0,
    0 10px,
    0 30px,
    0 40px,
    0 60px,
    0 70px,
    0 90px,
    0 100px,
    0 120px,
    0 130px,
    0 150px,
    0 160px;
  background-size: 160px 30px;
  animation-duration: 1s;
}

@keyframes rainbowCycle {
  0%,
  33.3%,
  66.7%,
  100% {
    left: 0;
  }

  16.7%,
  50%,
  83.3% {
    left: -90px;
  }
}

/* this prevents the rainbow from peeking out from under the cat's back foot. */
.rainbow .sprite::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  background: rgb(0, 51, 102);
  content: '';
}

/* stars styles */
.stars li {
  width: 470px;
  height: 70px;
  margin-left: -40px;
  overflow: hidden;
}

.stars li i {
  display: block;
  top: -420px;
  width: 470px;
  height: 490px;
  animation-name: starSpriteCycle;
  background-image:
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%),
    linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  background-repeat: no-repeat;
  background-position:
    430px 30px,
    350px 90px,
    340px 100px,
    360px 100px,
    350px 110px,
    270px 150px,
    250px 170px,
    280px 170px,
    270px 180px,
    190px 210px,
    160px 240px,
    190px 240px,
    210px 240px,
    190px 260px,
    110px 280px,
    90px 290px,
    130px 290px,
    80px 310px,
    140px 310px,
    90px 330px,
    130px 330px,
    110px 340px,
    30px 350px,
    0 380px,
    60px 380px,
    30px 410px;
  background-size:
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 20px,
    20px 10px,
    20px 10px,
    10px 20px,
    10px 20px,
    20px 10px,
    10px 10px,
    20px 10px,
    10px 20px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px,
    10px 10px;
  animation-duration: 1s;
}

@keyframes starSpriteCycle {
  0%,
  100% {
    top: -420px;
  }

  50% {
    top: 0;
  }

  58.3% {
    top: -70px;
  }

  66.7% {
    top: -140px;
  }

  75% {
    top: -210px;
  }

  83.3% {
    top: -280px;
  }

  91.7% {
    top: -350px;
  }
}

/* star positioning */

/* star 1 (bottom left) */
.stars li:nth-child(1) {
  top: 80%;
  left: 66%;
}

/* star 2 (middle left) */
.stars li:nth-child(2) {
  top: 54%;
  left: 70%;
}

.stars li:nth-child(2) i {
  animation-delay: 0.08333s;
}

/* star 3 (upper middle right) */
.stars li:nth-child(3) {
  top: 31%;
  left: 4%;
}

.stars li:nth-child(3) i {
  animation-delay: 0.16667s;
}

/* star 4 (upper center) */
.stars li:nth-child(4) {
  top: 12%;
  left: 49%;
}

.stars li:nth-child(4) i {
  animation-delay: 0.25s;
}

/* star 5 (top center) */
.stars li:nth-child(5) {
  top: 30%;
  left: 35%;
}

.stars li:nth-child(5) i {
  animation-delay: 0.33333s;
}

/* star 6 (upper center (delayed)) */
.stars li:nth-child(6) {
  top: 29%;
  left: 48%;
}

.stars li:nth-child(6) i {
  animation-delay: 0.41667s;
}

/* star 6 (lower center) */
.stars li:nth-child(7) {
  top: 70%;
  left: 22%;
}

.stars li:nth-child(7) i {
  animation-delay: 0.66667s;
}

/* star 8 (lower center (delayed)) */
.stars li:nth-child(8) {
  top: 67%;
  left: 56%;
}

.stars li:nth-child(8) i {
  animation-delay: 0.58333s;
}

/* star 9 (top center (delayed)) */
.stars li:nth-child(9) {
  top: 12%;
  left: 49%;
}

.stars li:nth-child(9) i {
  animation-delay: 0.66667s;
}

/* star 10 (bottom left) */
.stars li:nth-child(10) {
  top: 92%;
  left: 9%;
}

.stars li:nth-child(10) i {
  animation-delay: 0.75s;
}

/* star 11 (upper center (delayed)) */
.stars li:nth-child(11) {
  top: 20%;
  left: 44%;
}

.stars li:nth-child(11) i {
  animation-delay: 0.83333s;
}

/* star 12 (top left) */
.stars li:nth-child(12) {
  top: 19%;
  left: 6%;
}

.stars li:nth-child(12) i { animation-delay: 0.91667s; }
